[submodule "src/ledger"]
	path = src/ledger
	url = https://github.com/iov-one/ledger-iov-app.git
[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git